<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <p>Ingresa tu nueva contraseña:</p>
    
    <form action="/reset-password/<%= token %>" method="POST">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>
</html>
